.navNavbar {
  background: grey;
  padding: 1rem;
}

.navLink {
  text-decoration: none;
  color: greenyellow;
  margin-right: 1rem;
  background: none;
  border: none;
}

.navLink i {
  color: greenyellow;
}

.navLink:hover i,
.activeLink i {
  color: lime !important;
}

.navLink:hover,
.activeLink {
  color: lime !important;
}
